
nav.navbar{
    background-color: rgba(61,169,53,.95);
}
.item{
    &.bulb{
        background-image: url(../images/bulb.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        border: solid 1px;
        cursor: pointer;
        span{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            content: '';
            background: inherit;
            background-color: fade(#47ad3f, 80%);
            opacity: 0;
            transition-duration: .5s;
        }
        input{
            display: none;
        }
        input:checked{
            &+span{
                opacity: 1;
            }
        }
    }
    &.space{
        border: solid 1px;
        background-color: fade(#47ad3f, 0%);
        transition-duration: .5s;
        &.level-1{
            background-color: fade(#47ad3f, 40%);
        }
        &.level-2{
            background-color: fade(#47ad3f, 60%);
        }
    }
    &.wall{
        background-color: black;
        background-image: url(../images/brick.jpg);
        background-size: 160% ;
        background-position: center;
    }
}